################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/calculadoraExercicio
/estudandoBruno/bibliotecaEscolar/.vs/bibliotecaEscolar
/estudandoBruno/bibliotecaEscolar
/estudandoBruno/ControleProdutos
/projetoReact
/telaDeLogin
/estudandoChat/LojaBlusasAPI/.vs
